<form action="/urls" method="POST">
   <h1> Enter URL: </h1>
    <input type="text" name="long_url">
    <input type="submit" value="Submit">
 </form>

<!--  <h1>bitly clone</h1>
<h3>Shorten links. Keep track of its click count.</h3>
<form id="main-form" action="urls" method="POST">
  <input type="text" name="long_url">
  <input type="submit" value="Shorten!">
</form>
<h3>How to use?</h3>
<ol>
  <li>Insert link</li>
  <li>Get short link in return</li>
  <li>???</li>
  <li>Profit!</li>
</ol> -->